<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="sk.stuba.fiit.perconik.activity.preferences.ActivityPreferences$Initializer">
      </initializer>
      <initializer
            class="sk.stuba.fiit.perconik.activity.store.elasticsearch.preferences.ElasticsearchPreferences$Initializer">
      </initializer>
   </extension>
   <extension
         id="com.gratex.perconik.activity"
         name="Gatex Preferences UI"
         point="org.eclipse.ui.preferencePages">
      <page
            category="sk.stuba.fiit.perconik.ui.preferences.main"
            class="sk.stuba.fiit.perconik.activity.ui.ActivityPreferencePage"
            id="sk.stuba.fiit.perconik.activity.ui.preferences.client"
            name="FIIT">
      </page>
   </extension>
   <extension
         point="sk.stuba.fiit.perconik.core.services.listeners">
      <provider
            class="sk.stuba.fiit.perconik.activity.listeners.ListenerProviderFactory"></provider>
   </extension>

</plugin>
