<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="sk.stuba.fiit.perconik.core.debug.startup"
         name="PerConIK Core Debug Startup"
         point="org.eclipse.ui.startup">
      <startup
            class="sk.stuba.fiit.perconik.core.debug.plugin.Activator$Startup">
      </startup>
   </extension>
   <extension
         id="sk.stuba.fiit.perconik.core.debug.listeners"
         name="PerConIK Core Debug Components for Listener Service"
         point="sk.stuba.fiit.perconik.core.services.listeners">
      <provider
            class="sk.stuba.fiit.perconik.core.debug.services.listeners.DebugListenerProviderFactory">
      </provider>
      <manager
            class="sk.stuba.fiit.perconik.core.debug.services.listeners.DebugListenerManagerFactory">
      </manager>
   </extension>
   <extension
         id="sk.stuba.fiit.perconik.core.debug.resources"
         name="PerConIK Core Debug Components for Resource Service"
         point="sk.stuba.fiit.perconik.core.services.resources">
      <provider
            class="sk.stuba.fiit.perconik.core.debug.services.resources.DebugResourceProviderFactory">
      </provider>
      <manager
            class="sk.stuba.fiit.perconik.core.debug.services.resources.DebugResourceManagerFactory">
      </manager>
      <registrations
            class="sk.stuba.fiit.perconik.core.debug.resources.DebugListenerPoolNameSupplier">
      </registrations>
   </extension>

</plugin>
