<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.preferencePages">
		<page
        category="sk.stuba.fiit.perconik.ui.preferences.main"
        class="com.gratex.perconik.tag.prefs.PrefPage"
        id="com.gratex.perconik.tag.preferences"
        name="Tags"/>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.gratex.perconik.tag.prefs.PrefInit"/>
    </extension>

   <extension
         id="com.gratex.perconik.tag.builder"
         name="PerConIK Tag Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="com.gratex.perconik.tag.builder.ConMkBuilder" />         
      </builder>
   </extension>
   
   <extension
         id="com.gratex.perconik.tag.nature"
         name="PerConIK Tag Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.gratex.perconik.tag.builder.ConMkNature" />
      </runtime>
      <builder id="com.gratex.perconik.tag.builder" />      
   </extension>
   
   <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="com.gratex.perconik.tag.computer" name="PerConIK Tag Completion Proposal Computer">
      <javaCompletionProposalComputer categoryId="org.eclipse.ui.texteditor.textual_proposals"
      		activate="true" class="com.gratex.perconik.tag.assistant.ConAssist" >
         <partition type="__java_singleline_comment"/>
      </javaCompletionProposalComputer>
   </extension>
	   
   <extension
         point="org.eclipse.ui.popupMenus">
      
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.gratex.perconik.tag.ui.object">
         <action
               class="com.gratex.perconik.tag.builder.ToggleNatureAction"
               enablesFor="+"
               id="com.gratex.perconik.tag.ui.object.nature"
               label="Toggle Tags"
               menubarPath="com.gratex.perconik.tag.ui.object.menu/nature">
         </action>
         <menu
               id="com.gratex.perconik.tag.ui.object.menu"
               label="PerConIK Tools">
         </menu>
      </objectContribution>
      
      <viewerContribution 
      		id="com.gratex.perconik.tag.ui.viewer" 
      		targetID="#CompilationUnitEditorContext">
      		
			<action
         class="com.gratex.perconik.tag.popup.actions.MarkAction"
         id="com.gratex.perconik.tag.ui.viewer.menu.insert"
         label="Insert Tag"
         menubarPath="com.gratex.perconik.tag.ui.viewer.menu/insert">
   </action>
   <menu
         id="com.gratex.perconik.tag.ui.viewer.menu"
         label="PerConIK Tools"
         path="additions">
   </menu>
                
                
	</viewerContribution>      
   
   </extension>

    <!-- markers -->
    <extension id="com.gratex.perconik.tag.marker.Err"
         name="Content Marking Err"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<!-- Eq -->
	<extension id="com.gratex.perconik.tag.marker.EqBlue"
         name="Content Marking"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<extension id="com.gratex.perconik.tag.marker.EqRed"
         name="Content Marking"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<extension id="com.gratex.perconik.tag.marker.EqGreen"
         name="Content Marking"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
    <!-- Lt -->
    <extension id="com.gratex.perconik.tag.marker.LtBlue"
         name="Content Marking"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<extension id="com.gratex.perconik.tag.marker.LtRed"
         name="Content Marking"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<extension id="com.gratex.perconik.tag.marker.LtGreen"
         name="Content Marking"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
    <!-- Gt -->
    <extension id="com.gratex.perconik.tag.marker.GtBlue"
         name="Content Marking Close"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<extension id="com.gratex.perconik.tag.marker.GtRed"
         name="Content Marking Close"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	<extension id="com.gratex.perconik.tag.marker.GtGreen"
         name="Content Marking Close"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
	  <super type="org.eclipse.core.resources.marker"/>      
      <persistent value="true" />      
    </extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="ContentMarkingAnnotationSpecification" name="ContentMarkingAnnotation">
		<specification annotationType="com.gratex.perconik.tag.annotation.Err" 			
			icon="icons/Normal.gif"
			label="Content Marking Annotation">
		</specification>
		<!-- Eq -->
		<specification annotationType="com.gratex.perconik.tag.annotation.EqBlue" 			
			icon="icons/EqBlue.gif"
			label="Content Marking Annotation">
		</specification>
		<specification annotationType="com.gratex.perconik.tag.annotation.EqRed" 			
			icon="icons/EqRed.gif"
			label="Content Marking Annotation">
		</specification>
		<specification annotationType="com.gratex.perconik.tag.annotation.EqGreen" 			
			icon="icons/EqGreen.gif"
			label="Content Marking Annotation">
		</specification>
		<!-- Lt -->
		<specification annotationType="com.gratex.perconik.tag.annotation.LtBlue" 			
			icon="icons/LtBlue.gif"
			label="Content Marking Annotation">
		</specification>
		<specification annotationType="com.gratex.perconik.tag.annotation.LtRed" 			
			icon="icons/LtRed.gif"
			label="Content Marking Annotation">
		</specification>
		<specification annotationType="com.gratex.perconik.tag.annotation.LtGreen" 			
			icon="icons/LtGreen.gif"
			label="Content Marking Annotation">
		</specification>
		<!-- Gt -->
		<specification annotationType="com.gratex.perconik.tag.annotation.GtBlue" 			
			icon="icons/GtBlue.gif"
			label="Content Marking Annotation">
		</specification>
		<specification annotationType="com.gratex.perconik.tag.annotation.GtRed" 			
			icon="icons/GtRed.gif"
			label="Content Marking Annotation">
		</specification>
		<specification annotationType="com.gratex.perconik.tag.annotation.GtGreen" 			
			icon="icons/GtGreen.gif"
			label="Content Marking Annotation">
		</specification> 
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
    	<type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="2"        	            
            name="com.gratex.perconik.tag.annotation.Err"
            markerType="com.gratex.perconik.tag.marker.Err"/>
        <!-- Eq -->
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.EqBlue"
            markerType="com.gratex.perconik.tag.marker.EqBlue"/>
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.EqRed"
            markerType="com.gratex.perconik.tag.marker.EqRed"/>
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.EqGreen"
            markerType="com.gratex.perconik.tag.marker.EqGreen"/>  
        <!-- Lt -->
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.LtBlue"
            markerType="com.gratex.perconik.tag.marker.LtBlue"/>
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.LtRed"
            markerType="com.gratex.perconik.tag.marker.LtRed"/>
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.LtGreen"
            markerType="com.gratex.perconik.tag.marker.LtGreen"/> -->
		<!-- Gt -->
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.GtBlue"
            markerType="com.gratex.perconik.tag.marker.GtBlue"/>
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.GtRed"
            markerType="com.gratex.perconik.tag.marker.GtRed"/>
        <type super="org.eclipse.ui.workbench.texteditor.info" 
    		markerSeverity="0"        	            
            name="com.gratex.perconik.tag.annotation.GtGreen"
            markerType="com.gratex.perconik.tag.marker.GtGreen"/>                       
	</extension>
	
</plugin>
