<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="sk.stuba.fiit.perconik.ui.preferences"
         name="PerConIK Preferences UI"
         point="org.eclipse.ui.preferencePages">
      <page
            class="sk.stuba.fiit.perconik.ui.preferences.MainPreferencePage"
            id="sk.stuba.fiit.perconik.ui.preferences.main"
            name="PerConIK">
      </page>
      <page
            category="sk.stuba.fiit.perconik.ui.preferences.main"
            class="sk.stuba.fiit.perconik.ui.preferences.ResourcesPreferencePage"
            id="sk.stuba.fiit.perconik.ui.preferences.resources"
            name="Resources">
      </page>
      <page
            category="sk.stuba.fiit.perconik.ui.preferences.main"
            class="sk.stuba.fiit.perconik.ui.preferences.ListenersPreferencePage"
            id="sk.stuba.fiit.perconik.ui.preferences.listeners"
            name="Listeners">
      </page>
   </extension>
   <extension
         id="sk.stuba.fiit.perconik.ui.startup"
         name="PerConIK UI"
         point="org.eclipse.ui.startup">
      <startup
            class="sk.stuba.fiit.perconik.ui.plugin.Activator$Startup"></startup>
   </extension>

</plugin>
