<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="sk.stuba.fiit.perconik.debug.plugin.Activator$Startup">
      </startup>
   </extension>
   <extension
         point="sk.stuba.fiit.perconik.core.services.listeners">
      <provider
            class="sk.stuba.fiit.perconik.debug.services.listeners.DebugListenerProviderFactory">
      </provider>
      <manager
            class="sk.stuba.fiit.perconik.debug.services.listeners.DebugListenerManagerFactory">
      </manager>
   </extension>
   <extension
         point="sk.stuba.fiit.perconik.core.services.resources">
      <provider
            class="sk.stuba.fiit.perconik.debug.services.resources.DebugResourceProviderFactory">
      </provider>
      <manager
            class="sk.stuba.fiit.perconik.debug.services.resources.DebugResourceManagerFactory">
      </manager>
      <registrations
            class="sk.stuba.fiit.perconik.debug.resources.DebugListenerPoolNameSupplier">
      </registrations>
   </extension>

</plugin>
