<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="sk.stuba.fiir.perconik.debug.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="sk.stuba.fiit.perconik.plugin.Activator$Startup">
      </startup>
   </extension>

</plugin>
